
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        This program is designed to show how to create the repository pattern, using EntityFramework and test using Unit Tests and Mok objects.
    </div>
</body>
</html>
